@tailwind base;
@tailwind components;
@tailwind utilities;

/* Amplify UI Overrides */
[data-amplify-authenticator] {
    --amplify-components-button-primary-background-color: black;
    --amplify-components-button-primary-hover-background-color: hsl(
      black / 0.9
    );
    --amplify-components-button-border-radius: 8px;
    --amplify-components-fieldcontrol-border-radius: 8px;
  }
  
  [data-amplify-authenticator][data-variation="default"] {
    height: 100%;
    padding: 2rem !important;
  }
  
  [data-amplify-authenticator] [data-amplify-router] {
    border: none !important;
    box-shadow: none !important;
    max-width: 400px !important;
    margin: 0 auto;
  }
  
  [data-amplify-authenticator] [data-amplify-container] {
    border-radius: 16px;
    padding: 2rem !important;
    border: 1px solid transparent;
  }
  
  [data-amplify-authenticator] [data-amplify-form] {
    padding: 0 !important;
  }
  
  [data-amplify-authenticator] .amplify-tabs__list {
    display: none;
  }
  
  [data-amplify-authenticator] .amplify-button--primary {
    width: 100%;
    height: 2.75rem;
    margin-top: 1rem;
    background-color: #000000 !important;
    color: white !important;
    @apply font-medium;
    @apply text-sm;
  }
  
  [data-amplify-authenticator] .amplify-button--primary:hover {
    background-color: gray !important;
    color: black !important;
  }
  
  [data-amplify-authenticator] .amplify-field-group__control {
    border-color: black;
  }
  
  [data-amplify-authenticator] .amplify-field-group__control:focus-within {
    border-color: hsl(gray) !important;
    box-shadow: 0 0 0 1px hsl(gray) !important;
  }
  
  [data-amplify-authenticator] .amplify-field__show-password {
    color: hsl(var(--muted-foreground));
  }
  
  [data-amplify-authenticator] .amplify-label {
    @apply text-sm font-medium;
    color: hsl(var(--foreground));
  }
  
  [data-amplify-authenticator] .amplify-select {
    border-color: #000000;
    border-radius: 16px;
    height: 2.5rem;
    @apply text-sm;
  }
  
  [data-amplify-authenticator] .amplify-text--error {
    color: #ff0000;
  }